# Files and directories created by pub
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

*.iml
*.ipr
*.iws


.vscode
.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool
google_client_secret.json
firebase_service_account_key.json
firebase_options.dart
tests/temp
templates/serverpod_templates/projectname_flutter/android
templates/serverpod_templates/projectname_flutter/ios
templates/serverpod_templates/projectname_flutter/macos
