**/generated/** linguist-generated=true
**/protocol/** linguist-generated=true
**/serverpod_test_tools.dart linguist-generated=true

# Compensate for too broad protocol pattern
tools/serverpod_cli/test/generator/dart/**/protocol/** linguist-generated=false