# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Passwords file
config/passwords.yaml

# Firebase service account key for Firebase auth
config/firebase_service_account_key.json
