name: Serverpod CI

on:
  push:
    branches:
      - main
      - dev
      - tests
  pull_request:
    branches:
      - main
      - dev
jobs:

  dart_format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: 2.16.2
      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

  dart_analyze:
    name: Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.0.5"
      - name: Setup Firebase dummy file
        run: mv packages/serverpod/example/example_flutter/lib/firebase_options_dummy.dart packages/serverpod/example/example_flutter/lib/firebase_options.dart
      - name: Install dependencies
        run: util/pub_get_all
      - name: Analyze
        run: util/run_tests_analyze

  single_server_tests:
    name: Single server tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run single server tests
        run: util/run_tests_single_server
  
  cli_tests:
    name: Cli tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      
      - name: Dart pub get
        working-directory: tools/serverpod_cli
        run: dart pub get
      
      - name: Run CLI tests
        working-directory: tools/serverpod_cli
        run: dart test
