name: Serverpod CI

on:
  push:
    branches:
      - main
      - dev
      - tests
  pull_request:
    branches:
      - main
      - dev
jobs:

  dart_format:
    name: dart format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: 2.17.7
      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

  dart_analyze:
    name: dart analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.3.2"
      - name: Setup Firebase dummy file
        run: mv packages/serverpod/example/example_flutter/lib/firebase_options_dummy.dart packages/serverpod/example/example_flutter/lib/firebase_options.dart
      - name: Install dependencies
        run: util/pub_get_all
      - name: Analyze
        run: util/run_tests_analyze

  # serverpod_generate:
  #   name: serverpod generate
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: subosito/flutter-action@v2
  #       with:
  #         flutter-version: "3.3.2"
  #     - name: Run serverpod generate
  #       run: util/run_tests_serverpod_generate

  update_pubspecs:
    name: update pubspecs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.3.2"
      - name: Run serverpod generate
        run: util/run_tests_update_pubspecs

  single_server_tests:
    name: Serverpod tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run single server tests
        run: util/run_tests_single_server

  cli_tests:
    name: CLI tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.3.2"
      - name: Run CLI tests
        run: util/run_tests_cli
